.App {
  align-items: center;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  font-family: "Manrope", sans-serif;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.App-Wrapper {
  background-color: hsl(217, 19%, 24%);
  border-radius: 1em;
  height: max-content;
  max-width: 30%;
  min-width: 450px;
  padding: 4em;
  position: relative;
}

.Advice-ID {
  color: hsl(150, 100%, 66%);
  font-size: 1em;
  letter-spacing: 2px;
}

.Advice {
  color: hsl(193, 38%, 86%);
  font-size: 1.5em;
  font-weight: 700;
}

.App button {
  align-self: stretch;
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  border: none;
  bottom: 0;
  cursor: pointer;
  display: flex;
  left: 50%;
  padding: 1em;
  position: absolute;
  transform: translate(-50%, 50%);
  transition: all 0.42s ease;
}

.App button:hover {
  box-shadow: 1px 1px 10px 10px hsl(150, 100%, 66%);
}

.App button:active {
  transform: translate(-50%, 50%) rotate(360deg);
}
